%% HyperBEAM Environment Configuration
%% Defines environments with their endpoints and flows to execute

{environments, [
    {local, #{
        name => "local",
        urls => [
            #{url => "http://localhost:8734", type => compute}
        ],
        flows => [flow_genesis_eval]
    }}
]}.