%% HyperBEAM Groups Configuration
%% Defines groups consisting of environment urls grouped with flows to execute

{groups, [
    {local_basic, #{
        name => "local_basic",
        urls => [
            #{url => "http://localhost:8734", type => compute}
        ],
        flows => [
          flow_genesis_eval,
          flow_genesis_cron
        ]
    }},
    {local_intense, #{
        name => "local_basic",
        urls => [
            #{url => "http://localhost:8734", type => compute}
        ],
        flows => [
          flow_pools_cron
        ]
    }}
]}.