%% HyperBEAM Groups Configuration
%% Defines groups consisting of environment urls grouped with flows to execute

{groups, [
    {prod_basic, #{
        name => "prod_basic",
        urls => [
            #{url => "https://forward.computer", type => compute}
        ],
        flows => [
          flow_genesis_eval,
          flow_genesis_cron
        ]
    }},
    {prod_intense, #{
        name => "prod_intense",
        urls => [
            #{url => "https://forward.computer", type => compute}
        ],
        flows => [
          flow_pools_cron
        ]
    }}
]}.